Source: python-ev3dev2
Maintainer: ev3dev Python team <python-team@ev3dev.org>
Section: python
Priority: optional
Standards-Version: 3.9.8
Build-Depends: python3-setuptools (>= 0.6b3), python3-all (>= 3.4), debhelper (>= 9), dh-python, python3-pillow
VCS-Git: https://github.com/ev3dev/ev3dev-lang-python.git
VCS-Browser: https://github.com/ev3dev/ev3dev-lang-python

Package: python3-ev3dev2
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}
Description: Python language bindings for ev3dev
 This package is a pure Python binding to the peripheral
 devices on hardware that is supported by ev3dev.org - a
 minimal Debian distribution optimized for the LEGO
 MINDSTORMS EV3.
